<!-- <p>{{capacity[0]?.name}}</p> -->
<div>
    <nb-card>
        <nb-card-header>
            <h3>Modifier la capacité {{capacity[0]?.name}}</h3>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="fg" (ngSubmit)="onSubmit()">
                <div>
                    <p>Capacité : 
                        <input nbInput fullwidth type="text" formControlName="name" value={{capacity[0]?.name}}>
                    </p>
                </div>
                <button nbButton type="submit" [disabled]="fg.invalid">Modifier</button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <p>{{errorMessage}}</p>
        </nb-card-footer>
    </nb-card>
</div>